**This Script Writes Dummy Data Into DataBase**

In [1]:
from DummyData import SampleData

# Generate Data
house_numbers = [201, 202, 203]# only three houses at a time
df = SampleData(house_numbers)
df.head()

   HouseNO  Quantity  FromTime    ToTime        Date
0      201        23  00:00:00  01:00:00  2024-04-01
1      202        40  00:00:00  01:00:00  2024-04-01
2      203        36  00:00:00  01:00:00  2024-04-01
3      201        38  01:00:00  02:00:00  2024-04-01
4      202        20  01:00:00  02:00:00  2024-04-01

In [2]:
from Database import SQLDatabase

# Write dummy data into database
db_manager = SQLDatabase("localhost", "root", "", "water_management_system")
db_manager.connect()

db_manager.insert_data(df, 'consumption')

db_manager.disconnect()

Connected to MySQL database.
DataFrame successfully written to MySQL table.
Disconnected from MySQL database.

**------------------------------------- END ------------------------------------**